<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Dashboard</li>
            <li>
                <a href="/Dashboard/Index/" aria-expanded="false">
                    <i class="icon-magic-wand menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/Default/Index/" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text">Siteye Git</span>
                </a>
            </li>
            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
            <li>
                <a href="/Guest/Index/" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Müşteriler</span>
                </a>
            </li>
            <li>
                <a href="/AdminContact/Inbox/" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/Service/Index/" aria-expanded="false">
                    <i class="icon-clock menu-icon"></i><span class="nav-text">Hizmetler</span>
                </a>
            </li>
            <li>
                <a href="/BookingAdmin/Index/" aria-expanded="false">
                    <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Rezervasyon</span>
                </a>
            </li>
            <li>
                <a href="/AdminMail/Index/" aria-expanded="false">
                    <i class="icon-paper-clip menu-icon"></i><span class="nav-text">Mail İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="icon-info menu-icon"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="/WorkLocation/Index/" aria-expanded="false">
                    <i class="icon-puzzle menu-icon"></i><span class="nav-text">Otel Lokasyonları</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Odalar</span>
                </a>
            </li>
            <li>
                <a href="/AdminImageFile/Index/" aria-expanded="false">
                    <i class="icon-energy menu-icon"></i><span class="nav-text">Dosya İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/AdminUserWithWorkList/UserList/" aria-expanded="false">
                    <i class="icon-user-follow menu-icon"></i><span class="nav-text">Ekip Üyeleri</span>
                </a>
            </li>
            <li>
                <a href="/AdminUsers/UserList/" aria-expanded="false">
                    <i class="icon-user-follow menu-icon"></i><span class="nav-text">Kullanıclar</span>
                </a>
            </li>
            <li>
                <a href="/Role/Index/" aria-expanded="false">
                    <i class="icon-game-controller menu-icon"></i><span class="nav-text">Roller</span>
                </a>
            </li>
            <li>
                <a href="/RoleAssign/Index/" aria-expanded="false">
                    <i class="icon-game-controller menu-icon"></i><span class="nav-text">Rol Atama</span>
                </a>
            </li>
            <li>
                <a href="/Settings/Index/" aria-expanded="false">
                    <i class="icon-key menu-icon"></i><span class="nav-text">Ayarlar</span>
                </a>
            </li>
            <li>
                <a href="/BookingAdmin/Index/" aria-expanded="false">
                    <i class="icon-close"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>