@model List<ResultLast6BokingDto>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="active-member">
                    <div class="table-responsive">
                        <table class="table table-xs mb-0">
                            <thead>
                                <tr>
                                    <th>Müşteri</th>
                                    <th>Şehir</th>
                                    <th>Ülke</th>
                                    <th>Durum</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.City</td>
                                        <td><span>@item.Country</span></td>
                                        <td>
                                            @if (item.Status2 == "Onaylandı")
                                            {
                                                <i class="fa fa-circle-o text-success  mr-2"> Onaylandı </i>
                                            }
                                            @if (item.Status2 == "Onay Bekliyor")
                                            {
                                                <i class="fa fa-circle-o text-warning  mr-2"> Onay Bekliyor</i>
                                            }
                                            @if (item.Status2 == "İptal Edildi")
                                            {
                                                <i class="fa fa-circle-o text-danger  mr-2"> İptal Edildi</i>
                                            }
                                            @if (item.Status2 == "Müşteri Aranacak")
                                            {
                                                <i class="fa fa-circle-o text-info  mr-2"> Müşteri Aranacak</i>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>