@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <td>#</td>
        <td>Referans Görsel</td>
        <td>Referans Adı</td>
        <td>Referans Ünvanı</td>
        <td>Sil</td>
        <td>Güncelle</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TestimonialID</td>
            <td>@item.Image</td>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a href="#" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="#" class="btn mb-1 btn-rounded btn-outline-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="#" class="btn mb-1 btn-rounded btn-outline-success">Yeni Referans Girişi</a>

