@model List<ResultWorkLocationDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-xs mb-0">
    <thead>
        <tr>
            <th>#</th>
            <th>Lokasyon Adı</th>
            <th>Şehir</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.WorkLocationId</td>
                <td>@item.WorkLocationName</td>
                <td>@item.WorkLocationCity</td>
                <td><a href="/WorkLocation/DeleteWorkLocation/@item.WorkLocationId" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
                <td><a href="/WorkLocation/UpdateWorkLocation/@item.WorkLocationId" class="btn mb-1 btn-rounded btn-outline-warning">Güncelle</a></td>
            </tr>
        }
    </tbody>

</table>
<br />
<a href="/WorkLocation/AddWorkLocation/" class="btn btn-primary">Yeni Lokasyon Kaydı</a>
