@model UpdateGuestDto

@{
    ViewData["Title"] = "UpdateGuest";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="GuestID"/>
    <span class="col-form-label">Ad</span>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <span class="col-form-label">Soyad</span>
    <input type="text" asp-for="Surname" class="form-control" />
    <br />
    <span class="col-form-label">Şehir</span>
    <input type="text" asp-for="City" class="form-control" />
    <br />
    <button class="btn btn-outline-success">Güncelle</button>
</form>