
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post" enctype="multipart/form-data">
    <input type="file" class="form-control" name="file" />
    <br />
    <button class="btn btn-outline-success">Dosyayı Kaydet</button>
</form>
